*{
  margin: 0;
  padding: 0;
}

.calculadora{
  margin: 0 auto;
  width: 50vh;

  .btn{
    width: 50px;
    height: 50px;
    --background:transparent;
    --border-radius: 50%;
    margin: 5px;
  }

  // Resultado
  .section_resultado{
    height: 40vh;

    .resultado_dinamico, .btn-backspace{
      height: 10vh;
    }
    .resultado{
      height: 20vh;
    }
    .label_resultado{
    font-size: 25px;
    }
    .label_resultado-dinamico{
      opacity: 0.5;
    }
    
    // Pô é assim mas não rolou  
    .btn-backspace-simbolos{
      --icon-font-size: 32px;
      color: #266E8C;
    }
  }

  .linha_divisoria{
    height: 5vh;
  }

  // Teclado
  .section_teclado{
    height: 55vh;

    .teclado_linha{
      height: 10vh;
    }
    .btn-teclado{
      font-size: 18px;
    }
    .btn_teclado-numero{
      color:#da455e;
    }
    .btn_teclado-simbolos,.btn_teclado-clear{
      color:#266E8C;
    }
  
    // Pô tentei mas não rolou deixar o botão bonitinho
    .btn-igual{
      height: 50px;
      width: 100px;
      --background: transparent;
      --border-radius: 20%;
      color:#266E8C;
      font-size: 18px;
    }
  }
}