*{
  margin: 0;
  padding: 0;
}

.section_resultado{
  height: 40vh;
}

.section_teclado{
  height: 55vh;
}

.resultado{
  height: 20vh;
}

.resultado_dinamico, .btn-backspace, .teclado_linha{
  height: 10vh;
}

.linha_divisoria{
  height: 5vh;
}