*{
  margin: 0;
  padding: 0;
}

.calculadora{
  margin: 0 auto;
  width: 50vh;

  .btn{
    width: 50px;
    height: 50px;
    --background:transparent;
    --border-radius: 50%;
  }

  // Resultado
  .section_resultado{
    height: 35vh;
    margin-right: 5vh;
    .resultado_dinamico, .btn-backspace{
      height: 10vh;
    }
    .resultado{
      height: 20vh;
    }
    .label_resultado{
      font-size: 25px;
    }
    .label_resultado-dinamico{
      opacity: 0.5;
    }
  
    .btn_backspace-simbolos{
      .icon-backspace{
        transform: scale(1.6);
        color: #266E8C;
      }
    } 

  }

  .linha_divisoria{
    height: 5vh;
    padding-top: 5vh;
  }

  // Teclado
  .section_teclado{
    height: 55vh;
    margin-right: 5vh;
    .teclado_linha{
      height: 10vh;
    }
    .btn-teclado{
      font-size: 18px;
    }
    .btn_teclado-numero{
      color:#da455e;
    }
    .btn_teclado-sinais{
      font-weight: bold;
    }
    .btn_teclado-simbolos,.btn_teclado-clear{
      color:#266E8C;
    }
  
    .btn-igual{
      height: 50px;
      width: 130px;
      --background: #17526b;
      --border-radius: 34px;
      color: #FFF;
      font-size: 18px;
    }
  }
}
