<ion-content [fullscreen]="true">
  <ion-row class="calculadora">
    <ion-col size="12" >

      <!-- Resultado -->
      <ion-row class="section_resultado">
        <ion-col>
          <ion-row class="resultado ion-text-end">
            <ion-col>
              <ion-label class="label_resultado">{{ this.expressao_array.join('') }}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="resultado_dinamico ion-text-end">
            <ion-col>
              <ion-label class="label_resultado label_resultado-dinamico">{{ this.resultado }}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-end ion-text-center">
            <ion-col size="3">
              <ion-button class="btn btn_backspace-simbolos" (click)="executar('backspace')"> <ion-icon  name="backspace-outline" class="icon-backspace"></ion-icon> </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Linha de divisão -->
      <ion-row class="linha_divisoria ion-justify-content-center">
        <ion-col size="11">
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <!-- Teclado -->
      <ion-row  class="section_teclado ion-align-items-end">
        <ion-col>

          <!-- Primeira Linha -->
          <ion-row class="teclado_linha ion-text-center">
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-clear" (click)="executar('clear')"> C </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-simbolos"  (click)="executar('change')"> +/- </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-simbolos"  (click)="adicionar('%')"> % </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-simbolos btn_teclado-sinais"  (click)="adicionar('/')"> ÷ </ion-button>
            </ion-col>
          </ion-row>
          
          
          <!-- Segunda Linha -->
          <ion-row class="teclado_linha ion-text-center">
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-numero"  (click)="adicionar('7')"> 7 </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-numero"  (click)="adicionar('8')"> 8 </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-numero"  (click)="adicionar('9')"> 9 </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-simbolos btn_teclado-sinais"  (click)="adicionar('*')"> × </ion-button>
            </ion-col>
          </ion-row>

          <!-- Terceira Linha -->
          <ion-row class="teclado_linha ion-text-center">
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-numero"  (click)="adicionar('4')"> 4 </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-numero"  (click)="adicionar('5')"> 5 </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-numero"  (click)="adicionar('6')"> 6 </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-simbolos btn_teclado-sinais"  (click)="adicionar('-')"> - </ion-button>
            </ion-col>
          </ion-row>

          <!-- Quarta Linha -->
          <ion-row class="teclado_linha ion-text-center">
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-numero"  (click)="adicionar('1')"> 1 </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-numero"  (click)="adicionar('2')"> 2 </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-numero"  (click)="adicionar('3')"> 3 </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-simbolos btn_teclado-sinais"  (click)="adicionar('+')"> + </ion-button>
            </ion-col>
          </ion-row>

          <!-- Quinta Linha -->
          <ion-row class="teclado_linha ion-text-center">
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-numero"  (click)="adicionar('0')"> 0 </ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button class="btn btn-teclado btn_teclado-simbolos"  (click)="adicionar(',')"> , </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button  class="btn-igual"  (click)="igual()"> = </ion-button>
            </ion-col>
          </ion-row> 




        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>
